/* ===================================== 
   Public API Request
======================================== */

*, 
*:before, 
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ================== */
/*     Typography     */
/* ================== */

body {
    font-family: 'Lato', sans-serif;
    color: #222;
}

h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: whitesmoke;
    text-shadow: 1px 1px 2px #222;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 12px;
    margin: 8px 0;
    color: grey;
}

/* =================== */
/*     Grid System     */
/* =================== */

body {
    background-color: #3E474F;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    margin: 25px auto;
    text-align: center;
    width: 90%;
    grid-area: header;
}

.search-container {
    padding: 0 25px;
}

.search-input {
    background-color: whitesmoke;
    border: solid 3px #038690;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

main {
    width: 90%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    padding: 0 25px;
    grid-area: main;
}

footer {
    width: 100%;
    margin-top: auto;
    height: 50px;
    text-align: center;
    padding: 10px;
    grid-area: footer;
    background-color: #038690;
}

footer p {
    color: whitesmoke;
    font-size: 16px;
}

/* =================== */
/*     Card Layout     */
/* =================== */

.card {
padding: 20px 15px;
border: 3px solid #038690;
border-radius: 5px;
background-color: whitesmoke;
text-align: center;
word-break: break-all;
}

.card:hover {
cursor: pointer;
}

.avatar {
border-radius: 50%;
height: 100px;
width: 100px;
}

.card p:nth-last-of-type(1) {
margin-bottom: 0;
}

/* =================== */
/*    Modal Overlay    */
/* =================== */

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 300px;
    margin: 15% auto auto;
    left: 25%;
    position: fixed;
    float: left;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #fff;
    border: 3px solid #038690;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal h2 {
    margin-top: 12px;
}

.modal hr {
    margin: 25px 0;
}

.modal-info p {
    margin-top: 15px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    padding: 2px 5px;
    opacity: .7;
    transition: opacity .2s ease-in-out;
}

.modal-close:hover {
    opacity: 1;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows p {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.arrows p:hover {
    transform: scale(1.2);
}

/* =================== */
/*    Media Queries    */
/* =================== */

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
    }

    .search-container {
        width: 40%;
        padding: 0;
    }

    h1 {
        text-align: left;
    }

    h2 {
        margin-top: 0;
    }

    main {
        margin: 0 auto;
        padding: 25px;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }

    .card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .card .text-container {
        padding-left: 15px;
    }

    .modal {
        top: 30%;
    }
}

@media(min-width: 1024px) {
    header {
        margin-top: 50px;
    }

    #search {
        width: 25%;
    }

    .modal {
        top: 20%;
    }
}